@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-800;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}


.media-card {
    transition: all 0.9s ease;
}

.media-card.show {
    opacity: 1;
    transform: translateY(0);
}
